.app {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 6rem;
  font-size: 1.6rem;
}

@media (max-width: 980px) {
  .app {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*
@media (max-width: 320px) {
  .app {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
} */

.off {
  opacity: 0.08;
  cursor: initial !important;
}
